@media only screen and (max-width: 800px) {
    main {
        font-family: Helvetica;
        margin-top: 84px;
    }
    .header {
        display: flex;
        flex-direction: column;
    }
    .menu-style {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    .logo {
        width: 50%;
        height: 50%;
    }
    .menu-bar {
        width: 10%;
    }
    .select {
        width: 40%;
        height: 32px;
        border-radius: 10px;
        border: 1px solid darkblue;
    }
    .search {
        width: 40%;
        height: 30px;
        border-radius: 10px;
        border: 1px solid darkblue;
        padding: 0px 4px;
    }
    .flex-column {
        display: flex;
        flex-direction: column;
    }
    .post-photo {
        width: 75%;
    }
    .center {
        align-self: center;
    }
    .border-post {
        border: 1px solid darkblue;
        border-radius: 10px;
    }
    .margin-size {
        margin: 0px;
        font-size: 20px;
    }
    .margin-post {
        margin-bottom: 15px;
    }
    .footer {
        text-align: center;
    }
    .menu-hidden {
        display: none;
    }
    .menu-exhibit {
        display: flex;
        margin-top: 69px;
    }
    .menu-fixed {
        position: fixed;
        background-color: white;
        z-index: 2;
        width: 95%;
        padding: 10px;
    }
    .style-pages {
        flex-direction: column;
        z-index: 2;
        background-color: white;
        align-self: center;
        position: fixed;
        width: 85%;
    }
    .margin-top-menu {
        position: relative;
        top: 77px;
        margin: 0px 30px;
    }
    .pages {
        height: 50px;
        font-family: Helvetica;
        align-self: center;
        font-size: 20px;
        width: 95%;
        border: 1px solid darkblue;
        border-radius: 5px;
        text-align-last: center;
    }

    .margin-section {
        margin: 0px 30px;
    }
}